*
!bin/
!bin/**

!partitions-s3.csv
!platformio.ini

!.gitignore
!.gitattributes
!.clang-format
!README.md
!LICENSE
!lilka_sd.7z

!src/main.cpp

!src/context/
!src/context/**

!src/
!src/pixeler/
!src/pixeler/**
src/pixeler/doc/build/
